body {
    
    background-color: darkslategray;
}

.container {
    margin: auto;
    border-radius: 10px;
}

h1 {
    font-family: 'Megrim', cursive;
    font-size: 60px;
    color: darkslategrey;
}

p {
    color: darkslategrey;
    font-size: 20px;
    font-family: 'Reenie Beanie', cursive;
    padding: 40px;
}

img {
    border: 5px solid darkslategrey;
    border-radius: 10px;
}

nav {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    font-family: 'Reenie Beanie', cursive;
}