.form {
    display:flex;
    flex-direction: column;
    margin: 20px auto;
    margin-left: 25%;
    margin-right: 25%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
    transition: 0.3s;  
    box-sizing: border-box; 
    align-items: center;
    padding: 20px;
    background-color: rgb(147, 122, 163);
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 24px; 
    line-height: 1.5em;
}

.label {
    float: left;
    margin-right: 15px;
    width: 200px;
}

.button {
    height: 20px;
    width: 50px;
    text-align: center;
    margin: 10px auto;
}