body {
    
    display: flex;
    flex-direction: column;
    margin: 0;  
    background-color: darkgrey;
    
    
}

.h1 {
    font-family: 'Megrim', cursive;
    font-size: 60px;
    height: 100px;
    width: 100%;
    padding: 26px;
    background-image: url("https://i.imgur.com/WcR3Det.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box; 
    text-align: center;
    background-color: lavender;   
}

.main {
    color: darkslategrey;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;

}

ul {
    list-style: none;
}