.card-container{
    display:flex;
    align-items: flex-start;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    margin-right: 30px;
}

 .cards:last-child {
    margin-bottom: 30px;
 } 

.cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    background-color: rgb(164, 199, 170);
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    line-height: 1em;
    border: 2px solid green;
    border-radius: 10px;
    text-align: left;
    padding: 20px;
    flex: 1;
}


.card-button {
    height: 20px;
    width: 50px;
    text-align: center;
}
 

